*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family:'Montserrat','sans-serif'; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container{
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
   
}
.row{
    display: flex;
    /* align-items: center; */

}
.justify-content-s-b{
    justify-content: space-between !important;

}
.text-white{
    color: white !important;
}
.text-decoration-none{
    text-decoration: none;
}
header{
    background: #003668;
}
.col-2 a{
    font-weight: bold;
    font-family: 'Montserrat';
    font-size: 0.875rem;
    padding: 13px 17px;
    /* background: #7451eb; */
}
.row ul li {
    list-style: none;

}
.row ul{
    display: flex;
    align-items: center;
    
}
.row ul:first-child li:nth-child(2){
    padding: 2px 36px;
    border-right: 1px solid gray;

}
.row ul li:first-child img{
    height: 25px;
    margin-right: 35px;
}
.row ul:first-child li:not(:first-child) {
    margin-right: 19px;
    
}
.row ul:first-child li:not(:first-child) a:hover{
    color: #7451eb !important;
}
ul li a{
    text-decoration: none;
    color: black;
}
.row ul:last-child li {
    margin-left: 28px;
}
.row ul:last-child li:last-child{
    padding: 13px 17px;
    /* background: antiquewhite; */

    border:1px solid #7451eb;
    border-radius: 2px;
    font-size: 0.875rem;
    font-weight: 700;
   

}

.row ul:last-child li:last-child:hover{
    background: rgba(116, 81, 235, 0.24);


}
.row ul:last-child li:last-child a{
color: #7451eb;
}
.row ul:last-child li:first-child i{
    font-size: 24px;
    color: black;
}
nav{
    padding: 14px 0px;
    
}
.padding-row{
    padding: 20px 0px;

}
.row ul:first-child li:nth-child(2) i{
    margin-left:12px
}
.landing-page{
    background: #7451eb;
}
.col-3{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.col-4{
    width: 50%;
    margin-bottom: 73px;
    font-family: 'Montserrat';
    padding-left: 15px;
}

.col-4 h1{
    font-size: 2.4rem;
    color: white;
    font-weight: 700 ;
    background: rgb(0, 54, 104);
    display: inline;
    line-height: 44px;
    box-shadow: rgb(0 54 104) 16px 0px 0px, rgb(0 54 104) -16px 0px 0px;
    margin-bottom: 10px;
    font-family: 'Montserrat', 'sans-serif';
}
.col-4 p{
    margin-top: 28px;
    line-height: 27px;
    margin-bottom: 28px;
}
.col-4 a{
    margin-top: 10px;
    padding: 13px 17px;
    background: white;
    color: #7451eb !important;
    border-radius: 2px;
    font-weight: 700;
    font-size: 0.875rem;
}
.col-4 a:hover{
    box-shadow: 0 6px 6px 0 rgb(0 0 0 / 26%), 0 10px 20px 0 rgb(0 0 0 / 19%);
}
.justify-content-center{
    justify-content: center !important;
}
.text-center{text-align: center !important;}

.col-5 p,.col-6 p,.col-7 p{
    max-width: 300px !important;
    line-height: 1.875rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    
}
.col-5 h3,.col-6 h3,.col-7 h3{
    color: #003668;
    font-family:'Montserrat', sans-serif;
   


}

.justify-content-s-around{
    justify-content: space-around !important;
}
.col-8,.col-9{
    width: 50%;
}
video{
    /* width: 100%;
    height: 100%; */
    width: 577px;
    height: 335px;
}
.align-items-center{
    align-items: center;

}
.col-8 h1{
    background: #7451eb;
    box-shadow: rgb(116 81 235) 16px 0px 0px, rgb(116 81 235) -16px 0px 0px;
    color: white;
    display: inline;
    font-family: 'Montserrat', 'sans-serif';
    line-height: 44px;
font-weight: 700;
font-size: 2rem;
margin-left: 16px;
padding:  2px 0px 4px 0px ;

}
.col-8 p{
    line-height: 1.625rem;
margin-top: 16px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
padding-right: 112px;

}
.col-8 p span{

    text-decoration: underline;
    cursor: pointer;
}
.sc2{
    background: #f5f5f5 !important;
    padding: 72px 0;
}
.sc1{
    padding: 72px 0;
}
.col-10 h2{
 color:   #003668;
 
}
.col-11 img{

 /* position: absolute; */
 width: 345px;
}
.col-11 img:first-child{

    /* z-index: 3 !important; */

}
.col-11 img:last-child{

    /* z-index: 2 !important; */

}
.col-11 img:nth-child(2){

    /* z-index: 1 !important; */

}
.sc3{
    margin-top: 62px;
    /* position: relative; */
}
.col-10{
    margin-bottom: 24px !important;
}
.col-12 P{
    padding-right: 235px;
    line-height: 1.625rem;
    color: #003668 !important;
    
}
.col-11 img {
    margin-right: 24px;
}
.col-12 a{
    padding: 13px 17px;
    text-decoration: none;
    /* background: ; */
    color: rgb(116, 81, 235);
    border-radius: 5px;
}
.col-12 h3{
    font-size: 1rem;
    line-height:1.75 ;
    margin-top: 29px;
    margin-bottom: 23px;
}
.col-12 a:hover{
background: rgba(116, 81, 235, 0.24);

}
.col-2 a:hover{
  background:   rgba(116, 81, 235, 0.24);
}
.col-8 p span:hover{
    text-decoration: none;
}
.col-11{
width: 40%;
}
.col-12{
    width: 60%;
}
.col-11{
    display: flex;
    justify-content: flex-end !important;
}
.col-12 a i{
    margin-right: 5px;
}
.icons{
    position: relative;
    top: 66px;
    right: 288px;
    

}
.icons i{
    font-size:34px;
    cursor: pointer;
}
.icons i:first-child{
 color:rgb(116, 81, 235);
}
.icons i:not(:first-child){
color: #ddd4fa;
}
.icons:hover .col-12 p{
    display: none !important;
}
.sc4{
    margin-top: 174px;
}
.col-13{
    width: 30%;
    /* display: flex; */
    /* justify-content: flex-end; */

}
.col-14{
    width: 70%;
}
.col-13 img{
    margin-left: 65px;
}
.col-14 h2{
    margin-top: 42px;
margin-bottom: 18px;
}
.col-14 p{
    padding-right: 80px;
    line-height: 1.625rem;
    margin-bottom: 24px;
    
}
.col-14 a{
    margin-top: 10px;
    padding:  11px 14px;
    color:rgb(116, 81, 235);
font-weight: 700;
}
.col-14 a:hover {
    background:  rgba(116, 81, 235, 0.24);
    border-radius: 5px;
}
.col-14 a i{
    margin-right: 10px;
}